div {
  display: inline-block;
  margin: 50px 0 0 50px;
  padding: 15px;
  background: DarkOrange;
  color: White;
  font: 1.5em sans-serif;
}
div.rotate:hover {
  transform: rotate(45deg);
}
div.scale:hover {
  transform: scale(2, 2);
}
div.skew:hover {
  transform: skew(15deg, 15deg);
}
div.expand {
  margin: 50px;
  padding: 15px;
  color: White;
  font: 1.5em sans-serif;
  background: Orange;
  width: 100px;
  height: 30px;
}
div.expand {
  transition: background 5s linear 0.5s, width 5s ease-out 0.5s,
    height 5s steps(5) 0.5s;
}

div.expand:hover {
  background: OrangeRed;
  width: 350px;
  height: 100px;
}
div.ball {
  position: absolute;
  top: 10px;
  width: 120px;
  height: 120px;
  color: White;
  font: 1.5em sans-serif;
  background: Orange;
  border-radius: 50%;
}
div.label {
  display: table-cell;
  width: 120px;
  height: 120px;
  text-align: center;
  vertical-align: middle;
}
@keyframes bounce {
  from {
    top: 10px;
  }
  50% {
    top: 40px;
  }
  to {
    top: 100px;
  }
}
div.ball {
  animation: bounce 2s linear infinite alternate;
}
