p {
  border: 2px solid DarkOrange;
  height: 60px;
  background: Bisque;
}
p.help-cursor {
  cursor: help;
}
p.target-cursor {
  cursor: url(images/move.png), default;
}
input:focus {
  background: DarkOrange;
}
a:focus {
  background: Orange;
}
/* div {
  position: absolute;
  top: 300px;
  width: 150px;
  height: 50px;
}
div#active {
  left: 10px;
}
div#prints {
  left: 170px;
}
div#active {
  background: Bisque;
}
div#prints {
  background: url(images/kindpng_421839\(1\).png) 0 0 Bisque;
}
div#active:hover {
  background-color: DarkOrange;
}
div#prints:hover {
  background: url(images/kindpng_421839\(1\).png) 0 -50px DarkOrange;
} */
.button {
  display: inline-block;
  font: 16px sans-serif;
  background: Orange;
  color: White;
  border: none;
  padding: 16px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:link,
.button:visited {
  color: White;
}
.button:hover {
  background: Coral;
}
.button:active {
  background: OrangeRed;
}
form {
  display: inline-block;
}
div.thumbnail {
  position: relative;
  display: inline-block;
}
div.dropdown {
  position: absolute;
  padding: 2px;
  border: 2px dashed DarkOrange;
  background: turquoise;
  z-index: 1;
  display: none;
}
div.thumbnail:hover div.dropdown {
  display: block;
}
span.label {
  display: block;
  padding: 15px;
  text-align: center;
  background: DarkOrange;
  color: White;
}
div.outer,
div.inner {
  width: 120px;
  height: 120px;
}
div.outer {
  display: inline-block;
  margin: 10px;
  border: 5px solid DarkOrange;
  background: Bisque;
}
div.inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: 2px dashed Orange;
}
div.all {
  border-radius: 40px;
}
div.ind {
  border-radius: 50px 0 50px 0;
}
div.cir {
  border-radius: 65px;
}
